@import '../../Variables.scss';

.leaderboard-display-component {
  display: flex;
  justify-content: flex-start;
  margin-top: 11px;
  width: 315px;

  .leaderboard-position {
    width: 24px;
    text-align: right;
    margin-right: 10px;
    margin-left: 14px;
    font-weight: 900;
  }

  .leaderboard-name {
    width: 227px;
  }

  .leaderboard-points {
    font-weight: 900;
    width: 40px;
    text-align: right;
  }
}
