@import '../../Variables.scss';

.homepage-component {
  background: linear-gradient(to bottom, rgba(85,70,90,1) 0%, rgba(244,244,244,1) 100%);
  margin-top: -70px;

  .bg-holder {
    padding-top: calc(100vh * .38);
    background-image: url('homepage-assets/ninja-bg.svg');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: calc(100vw / 2.6);
  }

  h1 {
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin: 0 5px 142px;
    margin-bottom: 30px;
    line-height: 1.3;
  }

  h2 {
    font-size: 34px;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }

  .title-bar-span {
    font-size: 34px;
    font-weight: 900;
    font-family: 'semplicitapro', sans-serif;
    text-align: center;
  }

  .homepage-title-bar {
    background-color: $c4;
    width: 100%;
    padding: 32px 10px;
  }

  h4 {
    font-size: 24px;
    font-weight: 900;
    color: $c3;
    line-height: 1.3;
    text-align: center;
  }

  p {
    font-family: 'semplicitapro', sans-serif;
    font-weight: 500;
    color: $c3;
    font-size: 16px;
    opacity: .7;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .banners-container {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    margin: auto;
  }

  .home-banner {
    background-color: $c7;
    width: 300px;
    position: relative;
  }

  .banner-top {
    background-color: $c6;
    height: 120px;
    padding-top: 19px;
  }

  .banner-bottom {
    padding: 39px 20px 20px;
    position: relative;
  }

  .banner-bottom-graphic {
    width: 300px;
    position: absolute;
    top: 275px;
    left: 0px;
  }

  .home-bottom-container {
    width: 900px;
    margin: 180px auto 100px;
  }

  .bottom-section-1, .bottom-section-2, .bottom-section-3 {
    background-color: $c2;
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;

  }

  .section-1-text, .section-2-text, .section-3-text {
    background-color: $c3;
    width: 364px;
    padding: 30px 25px;

    h4, p {
      color: $c7;
    }

    h4 {
      margin-bottom: 10px;
    }
  }

  .bottom-section-1 {
    height: 261px;
  }

  .section-1-text {
    height: 301px;
    position: relative;
    bottom: 20px;
  }

  .bottom-section-1-graphic {
    width: 248px;
  }

  .bottom-section-2 {
    height: 261px;
  }

  .section-2-text {
    height: 301px;
    position: relative;
    bottom: 20px;
  }

  .bottom-section-2-graphic {
    width: 250px;
    height: 411px;
    position: relative;
    bottom: 73px;
  }

  .bottom-section-3 {
    height: 261px;
    margin-bottom: 0px;
  }

  .section-3-text {
    height: 301px;
    position: relative;
    bottom: 20px;
  }

  .slack-graphic {
    width: 160px;
    position: relative;
    left: 20px;
  }

  .github-graphic {
    width: 180px;
    position: relative;
    right: 20px;
  }

  .no-wrap {
    font-family: 'semplicitapro', 'sans-serif';
    font-size: 46px;
    font-weight: 300;
    white-space: nowrap;
  }

  .homepage-icon {
    width: 60px;
    position: absolute;
    top: 89px;
    left: 118px;
  }

  .homepage-logo {
    width: 50px;
    position: relative;
    top: 6px;
    left: 1px;
  }

  .header-button-top {
    margin-top: 30px;
    margin-bottom: calc(100vh * .37);
  }

  button {
    background-color: $c1;
    padding: 16px 23px 15px;
    border: 0;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: background-color .15s ease-in-out;

    a {
      color: #fff;
      }
  }

  button:hover {
    background-color: darken($c1, 12%);
  }

}

@media screen and (max-width: 1319px) {
  .homepage-component {
    .banners-container {
      flex-wrap: wrap;
      width: 647px;
    }

    .banner-bottom img {
      display: none;
    }

    .home-banner {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 899px) {
  .homepage-component {

    /*.bg-holder {
      padding-bottom: 350px;
    }*/

    .bottom-section-1, .bottom-section-2, .bottom-section-3 {
      flex-direction: column;
      height: unset;
      width: 324px;
      margin: 0 auto 50px;
    }

    .home-bottom-container {
      width: unset;
      margin-top: 20px;
    }

    .bottom-section-1 {
      padding-bottom: 40px;

      img {
        order: 1;
      }
    }

    .bottom-section-3 {
      .slack-graphic, .github-graphic {
        order: 1;
        position: static;
        margin: 20px auto;
      }

      .github-graphic {
        margin-bottom: 40px;
      }
    }

    .section-1-text, .section-2-text, .section-3-text {
      margin: auto;
      position: relative;
      right: 20px;
    }

    .bottom-section-1-graphic, .bottom-section-2-graphic {
      margin: 20px auto;
    }

    .bottom-section-1-graphic {
      width: 280px;  
    }

    .bottom-section-2-graphic {
      bottom: 119px;
      margin-bottom: -93px;
    }
  }
}

@media screen and (max-width: 680px) {
  .homepage-component {
    h1, .no-wrap {
      font-size: 30px;
    }

    .homepage-logo {
      width: 36px;
    }
  }
}

@media screen and (max-width: 665px) {
  .homepage-component {
    .banners-container {
      width: 300px;
    }
  }
}

@media screen and (max-width: 537px) {
  .homepage-component {

    .homepage-icon {
      
    }
  }
}

@media screen and (max-width: 400px) {
  .homepage-component {

    .bottom-section-1, .bottom-section-2, .bottom-section-3 {
      @include media-width;
    }

    .section-1-text, .section-2-text, .section-3-text {
      position: static;
      @include media-width;
    }

    .section-1-text, .section-3-text {
      height: unset;
    }

    .section-2-text {
      height: 325px;
    }

    .bottom-section-1-graphic {
      margin-top: 43px;
    }

    .bottom-section-3 {
      .slack-graphic {
        margin-top: 35px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .homepage-component {
    .banners-container {
      @include media-width;
    }

    .home-banner {
      @include media-width;
    }
  }
}
