@import '../../Variables.scss';

.group-members-component {
  @include center-box;
  background-color: $c6;
  margin-bottom: 60px;

  .group-members-header {
    @include box-header;
    background-color: $c5;

    h4 {
      color: $c3;
      font-weight: 900;
      text-align: center;
    }
  }

  .members-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
  }
}

@media screen and (max-width: 750px) {
  .group-members-component {
    @include media-width;

    .group-members-header {
      @include media-width;
    }
  }
}