@import '../../Variables.scss';

.group-profile-component {
  @include center-box;
  background-color: $c3;
  padding-top: 20px;

  h4 {
    color: $c7;
    font-weight: 900;
    text-align: center;
  }
}