@import '../../Variables.scss';

.leaderboard-component {
  @include center-box;
  background-color: $c2;

  
  .leaderboard-header {
    @include box-header;
  }

  h4 {
    font-weight: 900;
    color: $c5;
    text-align: center;
  }

  .givers-heading {
    text-align: left;
  }

  .leaderboard-header {
    @include box-header;
    background-color: $c3;

    h4 {
      color: $c7;
      text-align: center;
    }
  }

  .leaderboard-subhead {
    display: flex;
    justify-content: space-around;
    padding: 11px 0 4px;
  }

  .this-week-center {
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      color: $c4;
    }

    h5 {
      color: $c3;
      font-weight: 900;
      margin: 0 10px;
    }

    .this-week-arrows {
      width: 22px;
    }
    
  }

  .leaders-holder {
    display: flex;
    justify-content: space-between;
    padding: 5px 18px 18px;
  }

  .givers, .earners {
    background-color: $c4;
    width: 347px;
    padding: 10px 0 20px 12px;
    position: relative;
  }

  .givers h5 {
    color: $c3;
  }

  .earners h5 {
    color: $c7;
  }

  .ribbon {
    width: 19px;
    position: absolute;
    top: 18px;
    left: 8px;
  }

}