@import '../../Variables.scss';

.leaderboard-component {
  @include center-box;
  background-color: $c2;

  
  .leaderboard-header {
    @include box-header;
  }

  h4 {
    font-weight: 900;
    color: $c5;
    text-align: center;
    width: 200px;
    margin: auto;
  }

  .givers-heading {
    text-align: left;
  }

  .leaderboard-header {
    @include box-header;
    background-color: $c3;

    h4 {
      color: $c7;
      text-align: center;
    }
  }

  .leaderboard-subhead {
    display: flex;
    justify-content: space-around;
    padding: 11px 0 4px;
  }

  .this-week-center {
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      color: $c4;
    }

    h5 {
      color: $c3;
      font-weight: 900;
      margin: 0 10px;
    }

    .this-week-arrows {
      width: 22px;
    }
    
  }

  .small-only {
    display: none;
  }

  .leaders-holder {
    display: flex;
    justify-content: space-between;
    padding: 5px 18px 18px;
  }

  .givers, .earners {
    background-color: $c4;
    width: 347px;
    padding: 10px 0 20px 12px;
    position: relative;
  }

  .givers h5 {
    color: $c3;
  }

  .earners h5 {
    color: $c7;
  }

  .ribbon {
    width: 19px;
    position: absolute;
    top: 18px;
    left: 8px;
  }
}

@media screen and (max-width: 750px) {
  .leaderboard-component {
    @include media-width;

    .leaderboard-header {
      @include media-width;
    }

    .leaderboard-subhead {
      display: none;
    }

    .leaders-holder {
      flex-direction: column;
      align-items: center;
    }

    .small-only {
      color: $c5;
      display: block;
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .leaderboard-component {
    .earners img, .givers img {
      display: none;
    }

    .leaders-holder {
      padding: 0 0 25px 0;
    }

    .earners, .givers {
      @include media-width;
    }
  }
}
