@import '../../Variables.scss';

.leaderboard-component {
  display: flex;
  justify-content: space-between;
  width: 650px;
  margin: 0 auto 40px;

  h2, h3 {
    color: #fff;
  }

  h2 {
    border-bottom: 6px solid rgba(0,0,0, .2);
    margin-bottom: 8px;
    padding-bottom: 7px;
    width: 305px;
    text-align: center;
  }
}