@import '../../Variables.scss';

.user-component {
  padding: 3px 3px 50px;
  width: 100%;
  @include component-transition;

  .join-group {
  	width: 750px;
  	margin: auto;
  	display: block;
  	padding: 0 25px;
  	color: $c1;
  	transition: color .15s ease-in-out;
  	font-weight: 900;
  	text-align: right;
    font-size: 20px;
  }

  .join-group:hover {
  	color: darken($c1, 12%);
  }
}

.user-component.fade-enter {
  @include component-entering;
}

.user-component.fade-exit {
  @include component-exiting;
}

@media screen and (max-width: 750px) {
  .user-component {
    padding: 0 0 50px;

    .join-group {
      width: 100%;
    }
  }
}
