@import '../../Variables.scss';

/********  APP STYLES  ********/

* {
	box-sizing: border-box;
	font-family: "alda";
	font-weight: 500;
	font-size: 16px;
}

body {
	background-color: $c4;
	/*background: linear-gradient(to right, rgba(0,102,153,1) 0%,rgba(0,114,171,1) 20%,rgba(0,114,171,1) 80%,rgba(0,102,153,1) 100%); */
	/*background: linear-gradient(to right, rgba(0,102,153,1) 0%,rgba(23,145,207,1) 20%,rgba(23,145,207,1) 80%,rgba(0,102,153,1) 100%); */
	/*background: linear-gradient(to right, rgba(0,102,153,1) 0%,rgba(20,144,206,1) 20%,rgba(20,144,206,1) 80%,rgba(0,102,153,1) 100%); */
	// background: linear-gradient(to right, rgba(0,82,114,1) 0%,rgba(0,102,153,1) 20%,rgba(0,102,153,1) 80%,rgba(0,82,114,1) 100%);
}

a {
	text-decoration: none;
	color: #444;
	font-family: "semplicitapro", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-family: "semplicitapro", sans-serif;
	font-weight: 300;
	color: $blue-text;
}

h2 {
	font-weight: 900;
}

p {
	color: $grey-text;
	padding: 0;
	margin: 0;
	font-size: 16px;
}