@import '../../Variables.scss';

.account-component {
  @include center-box;
  background-color: $c6;
  margin-bottom: 60px;

  .account-heading {
    @include box-header;
    background-color: $c1;

    h4 {
      color: $c7;
      font-weight: 900;
      text-align: center;
    }
  }

  .account-container {
    padding: 24px 40px;
  }

  h5 {
    font-weight: 900;
    color: $c3;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .current-group, .passphrase {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  .current-group {
    h4 {
      color: $c1;
      text-align: center;
      width: 220px;
      margin-left: 15px;
      border-bottom: 8px solid $c4;
      background-color: $c5;
      padding: 7px 0 13px;
      overflow-wrap: break-word;
    }

    a {
      font-size: 24px;
      font-weight: 900;
      color: $c1;
    }
  }

  .passphrase-span {
    color: $c3;
    text-align: center;
    width: 220px;
    margin-left: 15px;
    border-bottom: 8px solid $c4;
    background-color: $c5;
    padding: 7px 0 13px;
    overflow-wrap: break-word;
    font-size: 24px;
    font-weight: 900;
  }

  .account-links {
    display: flex;
    justify-content: space-between;
  }

  button {
    height: 52px;
    width: 220px;
    color: #fff;
    background-color: $c1;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    padding-top: 2px;
    border: none;
    display: block;
    font-size: 20px;

    a {
      color: #fff;
      font-weight: 900;
      font-size: 20px;
    }

    &:hover {
      background-color: darken($c1, 12%);
    }
  }
}

@media screen and (max-width: 770px) {
  .account-component {
    @include media-width;

    .account-heading {
      @include media-width;
    }

    .account-container h5 {
      width: calc(100vw - 331px);
    }
  }
}

@media screen and (max-width: 530px) {
  .account-component {
    .current-group, .passphrase {
      flex-direction: column;

      h4, .passphrase-span {
        width: 100%;
        margin-left: 0;
      }
    }

    button {

      margin: 0 auto 20px;
    }

    .account-container {
      h5 {
        width: 100%;
      }

      .account-links {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .account-component {
    button {
      width: 100%;
    }
  }
}