@import '../../Variables.scss';

.user-data-component {
  @include box-header;
  background: $c5;
  display: flex;
  align-items: flex-start;

  h4 {
    color: $c3;
    font-weight: 900;
  }

	.give-points {
		font-weight: 900;
	}
}