@import '../App/App.scss';

.header-component {
	background-color: $blue-dark;
	padding: 21px 0;

	h1 {
		margin: 0;
		padding: 0;
		text-align: center;
		color: #fff;
	}

	.login {
		position: absolute;
		right: 15px;
		top: 15px;
		color: rgba(255,255,255, .75);
		transition: all .15s ease-in-out;
	}

	.login:hover {
		color: rgba(255,255,255, 1);
	}

	.user {
		position: absolute;
		right: 15px;
		top: 35px;
	}

	.group {
		position: absolute;
		right: 15px;
		top: 55px;
	}
}

@media screen and (max-width: 400px) {
	.header-component {

		h1 {
			margin-bottom: 15px;
		}

		.login, .user, .group {
			display: block;
			position: static;
			text-align: center;
			margin: 3px;
		}
	}
}