@import '../../Variables.scss';

.comments-component {
	display: flex;
	flex-wrap: wrap;
  width: 750px;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .comments-component {
    width: 360px;
  }
}

@media screen and (max-width: 375px) {
  .comments-component {
    width: 100%;
  }
}