@import '../../Variables.scss';

.member-component {
  width: 250px;
  padding: 7px 20px;
  word-wrap: break-word;
   
  h5 {
    font-weight: 500;
    color: $c3;
    cursor: pointer;
    background-image: url('assets/send-arrow-icon.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0% 450%;
    transition: all .10s ease-in-out;
    padding-left: 18px;
  }

  h5:hover {
    background-position: 0% 26%;
    color: $c1;
  }
}