@import '../../Variables.scss';
@font-face {
	font-family: 'Journal-Regular';
	src: url('./assets/Journal-Regular.otf');
}

.comment-card-component {
	background-color: #f1fafe;
	margin: 7px;
	width: 416px;
	border-radius: 53px;
	border-bottom-right-radius: 0;
  border-top-left-radius: 0;
	overflow: hidden;

	.card-header {
		background-color: $blue; 	
		padding: 20px 0 17px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-bottom: 6px solid $blue-text;
	}

	.card-footer {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	h3, h4 {
		font-weight: 900;
	}

	h3, h4 {
		color: $blue-text;
	}

	h5 {
		color: #fff;
		font-size: 16px;
		font-weight: 900;
	}

	p {
		font-family: 'Journal-Regular';
		font-size: 30px;
    padding: 16px 25px;
	}

	img {
		width: 30px;
		margin-right: 5px;
	}
}