@import '../../Variables.scss';
@font-face {
	font-family: 'Journal-Regular';
	src: url('./assets/Journal-Regular.otf');
}

.comment-card-component {
	background-color: $c6;
  width: 360px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 30px;
  &:nth-of-type(odd) {
    margin-right: 30px;
  }

	.card-header {
		background-color: $c4; 	
		padding: 14px 0 15px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.card-footer {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	h3, h4 {
		font-weight: 900;
	}

	h6{
    font-weight: 900;
		color: $c3;
	}

	h5 {
		color: #fff;
		font-size: 16px;
		font-weight: 900;
	}

	p {
		font-family: 'Journal-Regular';
		font-size: 30px;
    padding: 16px 25px;
    color: $c2;
	}

	img {
		width: 30px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 750px) {
  .comment-card-component {
    &:nth-of-type(odd) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .comment-card-component {
    width: 100%;
  }
}