/********  GLOBAL STYLES  ********/

* {
  box-sizing: border-box;
}

@mixin center-box {
  width: 750px;
  margin: 0 auto 30px;
}

@mixin box-header {
  width: 750px;
  margin: 0 auto;
  padding: 10px 25px;
}
