/********  GLOBAL STYLES  ********/

* {
	box-sizing: border-box;
}

/********  FONT SIZES  ********/

h1 { font-size: 60px; }
h2 { font-size: 54px; }
h3 { font-size: 46px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }
// h7 { font-size: 16px; }
p1 {font-size: 32px; }

/********  COLORS  ********/

$c1: #df4054;
$c2: #554559;
$c3: #7e6e7a;
$c4: #c9c6c7;
$c5: #e9e9e9;
$c6: #f4f4f4;
$c7: #fff;

$red: #fe5630;
$blue: #b9e5fb;	 
$yellow: #ffe196; 
$grey: #b4bcc2;  	

$red-light: #ffddd6;
$blue-light: #e3f5fd;
$yellow-light: #fff3d5;
$grey-light: #e0e5e8;

$red-dark: #c93f20;
$blue-dark: #85c0de;
$yellow-dark: #e3cb8d;
$grey-dark: #7d8d9c;

$grey-text: #37414d;
$blue-text: #006699;

/******** MIXINS ********/
/*@mixin component-transition {
  transition: .4s ease-in;
}

@mixin component-entering {
  opacity: 0.5;
  position: absolute;
  transform: translate(0, -5px);
  top: 105px;
}

@mixin component-exiting {
  opacity: 0.5;
  position: absolute;
  top: 105px;
  transform: translate(0, -5px);
}*/

@mixin component-transition {
  // transition: .25s ease-in;
  transition: .25s cubic-bezier(.78,.07,.35,1);  
}

@mixin component-entering {
  opacity: 0.5;
  position: absolute;
  transform: translate(-100%);
  top: 105px;
}

@mixin component-exiting {
  opacity: 0.5;
  position: absolute;
  top: 105px;
  transform: translate(100%);
}

/*@mixin component-transition {
  transition: .4s cubic-bezier(.78,.07,.35,1);
}

@mixin component-entering {
  opacity: 0.5;
  position: absolute;
  transform: translate(0, -300%);
  top: 105px;
  z-index: -10;
}

@mixin component-exiting {
  opacity: 0.5;
  position: absolute;
  top: 105px;
  transform: translate(0, 300%);
  z-index: -10;
}*/
