@import '../../Variables.scss';

.user-profile-component {
  background: linear-gradient(to right, rgba(227,245,253,1) 0%,rgba(241,250,254,1) 20%,rgba(241,250,254,1) 80%,rgba(227,245,253,1) 100%);
  border-top: 7px solid #b9e5fb;
  border-bottom: 7px solid #b9e5fb;
  width: 770px;
  margin: 30px auto;
  padding: 20px 25px 8px;
}