@import '../../Variables.scss';

.Transaction {
  position: relative;
  input {
    background-color: $red-light;
    color: $red;
    font-size: 34px;
    text-align: center;
    &::placeholder{
      color: #fff;
      font-size: 24px;
      position: relative;
      bottom: 2px;
    }
  }

  .current-points {
    background: linear-gradient(to right, rgba(227,245,253,1) 0%,rgba(241,250,254,1) 20%,rgba(241,250,254,1) 80%,rgba(227,245,253,1) 100%);
    border-bottom: 7px solid #b9e5fb;
    width: 770px;
    margin: 0 auto 30px;
    padding: 2px 25px 8px;
  }

  .current-span {
    background-color: $blue;
    padding: 10px 17px;
    font-family: "semplicitapro", sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-left: 5px
  }

  h3 {
    margin: 0 0 13px 20px
  }

  button {
    background-color: #fe5630;
    color: white;
    cursor: pointer;
    padding: 9px 22px 8px;
    font-size: 24px;
    margin-left: 15px;
    transition: background-color .15s ease-in-out;

    &:hover {
      background-color: darken($red, 8%);
    }
  }
  
  hr {
    margin: 23px 0 20px;
    opacity: .2;
  }

  input,
  button,
  select {
    outline: none;
    border: none;
  }

  select {
    font-size: 24px;
    background-color: #ffddd6;
    margin-left: 15px;
    width: 268px;
    border-radius: 0;
    background: url(assets/selectors.svg) no-repeat 96% $red-light;
    background-size: 24px;
    -webkit-appearance: none;
  }

  .award {
    display: flex;

    h3 {
      margin-top: 13px;
    }
  }

  .points-to {
    margin-left: 0;
  }

  .points-block {
    position: relative;
    background: linear-gradient(to right, rgba(227,245,253,1) 0%,rgba(241,250,254,1) 20%,rgba(241,250,254,1) 80%,rgba(227,245,253,1) 100%);
    border-top: 7px solid #b9e5fb;
    border-bottom: 7px solid #b9e5fb;
    padding: 20px 25px;
    width: 770px;
    margin: auto;


    h2 {
      margin-bottom: 13px;
    }

    input {
      width: 80px;
      margin: 0 15px;
    }
    .point-error {
      position: absolute;
      top: 25px;
      right: 10px;
      color: red;
    }
  }
}