@import '../../Variables.scss';

.group-component {
  @include component-transition;
	
  .join-group {
    @include center-box;
    display: block;
    font-size: 20px;
    padding: 0 25px;
    color: $c1;
    transition: color .15s ease-in-out;
    font-weight: 900;
    text-align: right;
  }

  .join-group:hover {
    color: darken($c1, 12%);
  }
  
}

.group-component.fade-enter {
  @include component-entering;
}

.group-component.fade-exit {
  @include component-exiting;
}

@media screen and (max-width: 750px) {
  .group-component .join-group {
    @include media-width;
  }
}

